//Variabel SASS
/* 
prilaku variabel sass 
 1. sass mengaggap - dan _ itu sama sebagai pemisah kata
 2. variabel sass juga memiliki scope terdiri dari global scope dan local scope
 3. cara mengubah variable local mejadi variabel global menggunakan !global
*/

//sample Variabel css3
/*
:root{
  --primary-color: yellow;
  --text-color: salmon;
}

.container {
  background-color: var(--text-color);
}
ul li {
  color: var(--primary-color);
}
*/

// $primary-color:#f4f1de;
// $text-color:salmon;
// $secondary-color:green;

// body {
//   $secondary-color: yellow ;
//   background-color: $secondary-color;
// }
// h1{
//   color: $secondary-color ;
// }


// mapping 

$alert :(
  'danger': yellow,
  'success': #aaa,
  'warning': #ddd
);

h1{
  color:map-get($alert, 'danger')
}

body{
  background-color: map-get($alert, 'warning' );
}