// Nesting
/* 1. Nesting bisa menyimpam selector css didalam selector yang lain
   2. mendaftarkan selector
   3. parent selector (&) kita dapat mentarget element parent pada saat nesting
    -parent selector dapat menambahkan sudo class( hover,active,link,insited)
    -generate otomatis nama dari parent

    */
// .main {
//   background-color: lightblue;

//   .main-heading {
//     font-size: 2em;
//   }

//   .main-paragraph {
//     font-size: 1em;
//   }
// }

// mendaftarkan selector
/*
.main, footer{
  h1, p{
    background-color: yellow;
    letter-spacing: 5px;
  }
}
*/

//&
//parent selector

// .main {
//   .container & {
//     background-color: lightblue;
//   }
//   .main-heading {
//     font-size: 2rem;
//   }
//   &:hover{
//     background-color: salmon;
//   }
// }

.main {
  & &-heading{
    background-color: yellow;
    color: blue;
    font-size: 2em;
  }
  & &-paragraph{
    font-size: 1.4em;
    background-color: lightblue;
  }

}

.footer{
  & &-heading{
    background-color: yellow;
    color: blue;
    font-size: 2em;
  }
  & &-paragraph{
    font-size: 1em;
    background-color: lightblue;
  }
}
